body {
  font-family: "Open sans", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
}
h2 {
  font-weight: 300;
  font-size: 55px;
  line-height: 72px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }


h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: inherit;
}
li{
  list-style: none;
  text-decoration: none;
}
p{
  text-align: justify;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;;
}
.verde{
  color: #36b34b;
}
#contacto .verde{
  color: white;
}
.subti{
  margin-bottom: 40px;
  text-align: center;
}
/* =============================================================================
  Layout
========================================================================== */
/* Header 
================================= */
.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
}

.navbar-top {
  background: #36b34b;
  font-size: 12px;
  padding: 3px 0;
}
.navbar-top .list-inline {
  margin-bottom: 0;
}
.navbar-top .header-contact li {
  margin-right: 15px;
}
.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #1f4180;
  background: white;
}
.navbar-main .navbar-brand {
  border-bottom: none !important;
}
#navbar li a:hover{
  color:#36b34b;
}
.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: inherit;
  border-bottom: 2px solid #fff;
}

.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background: #36b34b;
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}
.navbar-main .submenu li {
  border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
  background: #185b91;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}
.navbar-main li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
}
.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}
.navbar-main .icon-bar {
  background: #36b34b;
}
/* block-1
==============================*/
.block-1 {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #353535;
}
.barra{
  background-color: #353535;
  min-height: 50px;
  padding:0;
  margin: 0;
}
.barra img{
  height: 45px;
}
.block-1 ul{
  padding:0;
  margin: 0;
}
.block-1 ul li{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  text-align: center;
  vertical-align: middle;
}
.block-1 ul li:hover{
  background-color: #191919;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.block-1 i{
  font-size: 45px;
}


/* Home Slider 
================================= */
.carousel-home img {
  width: 100%;
}
.carousel-home .carousel-control {
  background: #1f76bd;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}
.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}
.carousel-home .carousel-control:hover {
  width: 50px;
}
.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.carousel-home .btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}




/* ==========================================================================
nosotros-stack
========================================================================== */
.nosotros {
  position: relative; 
  margin-bottom: 50px;
}
.nosotros p {
  margin-bottom: 0;
  padding-bottom: 0; 
}
.nosotros h3 {
  margin: 0 0 20px 0; 
}
.nosotros .nosotros-content {
  display: inline-block;
  width: 75%; 
}
.nosotros ul.nosotros-stack {
  margin-top: 50px; 
}
.nosotros ul.nosotros-stack li {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #E6E9EA; 
}
.nosotros ul.nosotros-stack li:last-child {
  padding-bottom: 0px;
  border-bottom: none; 
}


/* inicio/ servicios 
================================= */
#servicios {
  background: #f6f6f6 url('../../assets/images/bg-service2.jpg') 50% 0 repeat-y fixed;
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}
.servicios-col h3{
  color: white;
}
.servicios-col {
  padding: 25px;
  text-align: center;
  background-color: #36b34b;
  background-size: 100%;
  color: #fff;
}
.servicios-col .col-icon-wrapper {
  font-size: 80px;
  min-height: 100px;
}
.servicios-col .col-title {
  text-transform: uppercase;
}
.servicios-col .col-details {
  text-align: justify;
  margin-bottom: 25px;
  min-height: 80px;
  color: white;
  font-size: 12px;
}

#servicios li{
  border-bottom: solid white 1px;
  margin-top: 20px;
  padding-bottom: 20px; 
}
#servicios li:last-child {
    padding-bottom: 0px;
    border-bottom: none; 
}
#servicios .paq img{
  position: relative;
  vertical-align: middle;
  text-align: center;
  max-height: 80px;
}

/* footer 
================================= */
.footer-top {
  background: #36b34b;
  /*height: 40px;*/
}

.main-footer {
  background: #1f76bd;
  color: #fff;
}
.main-footer .footer-main {
  padding: 30px 0;
}
.main-footer .footer-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-footer .footer-user{
  text-transform: uppercase;
  margin: 5px ;
}
.main-footer .footer-title .title-under {
  background: #fff;
  margin: 15px 0;
  text-align: left;
}
.main-footer .footer-title .title-under:after {
  margin: 0;
  background: #fff;
}
.main-footer .footer-content {
  text-align: justify;
  font-size: 13px;
}
.main-footer .tweet {
  font-size: 13px;
}
.main-footer .tweet:after {
  content: "";
  height: 1px;
  display: block;
  background: #115c9b;
  width: 150px;
  margin: 15px auto;
}
.main-footer .tweet:last-child:after {
  display: none;
}

.footer-bottom {
  background: #115c9b;
  padding: 3px;
}
.user-form{
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer-top .user-control {
  background: #36b34b;
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #fff;
  resize: none;
  padding: 8px;
}
.user-form .btn-submit{
  border-radius: 0;
  background: #36b34b;
  text-transform: uppercase;
  border: 1px solid #fff;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  padding: 9px 8px 6px 8px;
  margin-bottom: 5px;
}
.footer-form .form-group {
  margin-bottom: 5px;
}
.footer-form .form-control {
  background: #115c9b;
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #fff;
  resize: none;
}

.footer-form .btn-submit{
  border-radius: 0;
  background: #115c9b;
  text-transform: uppercase;
  border: 1px solid #fff;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.footer-form .btn-submit:hover, .user-form .btn-submit:hover {
  background: #fff;
}
.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder, .user-form input:-moz-placeholder {
  color: #fff;
}
.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder, .user-form input::-moz-placeholder {
  color: #fff;
}
.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder, .user-form input:-ms-input-placeholder {
  color: #fff;
}
.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder, .user-form input::-webkit-input-placeholder {
  color: #fff;
}
#contacto ul{
  margin-bottom: 0;
  text-align: center;
}
#contacto ul li{
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}


/* Ow carousel
================================= */
.owl-next,
.owl-prev {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border: 2px solid;
  text-align: center;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.owl-next:hover,
.owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.owl-next {
  left: auto;
  right: 0;
}

/* =============================================================================
	Responsive
========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
  .servicios-col {
    padding: 15px;
  }
/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
  .carousel-home .carousel-title {
    font-size: 36px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 18px;
  }
  .carousel-home .btn {
    margin-top: 15px;
  }

  .servicios-col {
    margin-bottom: 25px;
  }
  .footer-col {
    margin-bottom: 50px;
  }
}
/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
  .header-contact {
    text-align: center;
  }
  .header-contact li {
    margin: 0 !important;
  }

  .header-social {
    text-align: center;
  }

  .navbar-main #navbar {
    float: none !important;
  }
  .navbar-main #navbar a {
    border-bottom: none;
  }
  .navbar-main .navbar-brand {
    padding: 6px 15px;
  }
  .navbar-main .submenu {
    position: initial;
    display: none;
    width: 100%;
  }
  .navbar-main li:hover .submenu,
  .navbar-main li:active .submenu,
  .navbar-main li:focus .submenu {
    display: block;
  }
  .navbar-main li:hover .submenu li,
  .navbar-main li:active .submenu li,
  .navbar-main li:focus .submenu li {
    background: #115c9b;
    border-top-color: #1f76bd;
  }

  .carousel-home .carousel-title {
    font-size: 32px;
  }
  .carousel-home .carousel-subtitle {
    font-size: 16px;
  }
  .carousel-home .carousel-control {
    background: #1f76bd;
    height: 40px;
    width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .carousel-home .carousel-control .fa {
    font-size: 1.5em;
    padding-top: 4px;
  }

  .col-form {
    margin-bottom: 25px;
  }
}
/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
  .carousel-home .carousel-title {
    font-size: 16px;
    margin: 0;
  }
  .carousel-home .carousel-subtitle {
    font-size: 14px;
    margin: 0;
  }
  .carousel-home .carousel-indicators {
    bottom: 0;
  }
}
/* =============================================================================
	Animations
========================================================================== */
.animate-onscroll {
  visibility: hidden;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.animated.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
